/**
    General style for the entire site
    @author Shawn Contant <shawnc366@gmail.com>
**/
body {
    background-color: #add8e6 !important;
}
#header {
    background-color: #4F03FF;
    color: white;
    margin-bottom: 0px;
}

h1 {
    display: inline;
    padding-left: 10%;
    margin-top: 10px;
}

#nav {
    float: right;
    margin-top: 10px;
    margin-right: 10%;
}

#nav li {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

#nav li a {
    color: white;
}
.content {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

#results {
    display: none;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#results div {
    clear: both;
    margin: 5px 5px 20px 5px;
}

.select_button {
    float: right;
}

#message {
    float: left;
    padding-left: 25px;
    color: #266A2E;
}

#source_list li {
    width: 300px;
    border: 1px solid black;
    list-style: none;
    padding: 10px;
}

#source_list li span {
    margin-right: 10px;
}

.list_name{
    display: inline-block;
    width: 100px;
}

.list_type{
    display: inline-block;    
    width: 100px;
}

.list_preference{
    display: inline-block;    
    width: 50px;
}

iframe {
    display: block;
    width: 95%;
    height: 500px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    background-color: #ffffff;
    color: #0000ff;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.controls:hover {
    background-color: #0000ff;
    color: #ffffff;
}

#location {
    float: right;
    padding-right: 25px;
}

.selected {
    background-color: #0000ff;
    color: white;
}

#url_holder, label {
    display: inline;
}